/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
div.css-dialog{
width:100%;
height:100%;
top:0;
left:0;
display:none;
position:fixed;
background-color:rgba(31,31,31,0.5);
overflow:auto
}
div.css-form{
position:absolute;
left:50%;
top:17%;
margin-left:-216px;
}
form.css-form{
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:arial;
background-color:#fff;
}
h2.css-form{
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:left;
border-radius:10px 10px 0 0;
}
hr.css-form {
margin-top: 10px;
margin-bottom: 20px;
margin-left: -50px;
margin-right: -50px;
border:0;
border-top:1px solid #ccc
}
hr.css-form-block{
margin:10px 0px;
border:0;
border-top:1px solid #ccc
}
a.css-form-close{
background: #fa5858;
color: #ffffff;
line-height: 25px;
position: absolute;
right: 12px;
text-align: center;
top: 10px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
.box-shadow;
.transition;
.transition-delay(.2s);
}
a.css-form-close:hover{
	background: #ff0000;
	.transition;
}
label.css-form{
display:block;
clear:both;
font-size:12px;
font-family:arial;
font-weight: bold;
}
input.css-form[type=text] {
padding:3px;
margin-top:5px;
margin-bottom:20px;
border:1px solid #ccc;
padding-left:10px;
font-size:12px;
font-family:arial;
}
input.css-form[type=checkbox]{
padding:5px;
margin-top:5px;
margin-bottom:20px;
padding-left:10px;
}
p.css-form{
font-size:12px;
font-family:arial;
}
li.css-form{
margin-left:10px;
padding: 1px;
color: blue;
font-size:11px;
font-family:arial;
}
a.css-form-button{
float: right;
width:80px;
text-decoration:none;
text-align:center;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px;
margin-top:10px;
margin-bottom:20px;
margin-left:30px;
margin-right:10px;
font-size:14px;
cursor:pointer;
border-radius:5px;
}
select.css-form {
padding:3px;
margin-top:5px;
margin-bottom:20px;
border:1px solid #ccc;
padding-left:5px;
font-size:12px;
font-family:arial;
}
hr.css-form-block{
margin:20px 0px;
border:0;
border-top:1px solid #ccc
}
/*#groupName {
background-image:url(../icons/kevin.png);
background-repeat:no-repeat;
background-position:5px 5px;
}*/
/*groupEmail {
/*background-image:url(../icons/kevin.png);
background-repeat:no-repeat;
background-position:5px 7px;
}*/
textarea.css-form-title{
/*background-image:url(../icons/kevin.png);
background-repeat:no-repeat;
background-position:5px 7px;*/
width:82%;
/*height:30px;*/
padding:5px;
resize:none;
margin-top:0px;
border:1px solid #ccc;
padding-left:10px;
font-size:13px;
font-family:arial;
font-weight:bold;
margin-bottom:0px
}
textarea.css-form-content{
/*background-image:url(../icons/kevin.png);
background-repeat:no-repeat;
background-position:5px 7px;*/
width:82%;
/*height:30px;*/
padding:5px;
resize:none;
margin-top:0px;
border:1px solid #ccc;
padding-left:10px;
font-size:11px;
font-family:arial;
font-weight:bold;
margin-bottom:0px;
}
a.css-form{
display:inline-block;
width:80px;
text-decoration:none;
text-align:center;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px;
margin-top:10px;
margin-bottom:10px;
margin-left:30px;
margin-right:10px;
font-size:14px;
cursor:pointer;
border-radius:5px;
}
a.css-form-text{
color:#00f;
font-size:11px;
margin-left:10px;
margin-right:10px;
}
/*span {
color:red;
font-weight:700
}*/
