/* popup.css */

.css-popup{
	position:absolute;
	top: 154px;
	left: 50%;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align: left;
	background: #8080ff;;/*#4478a0;*/
	margin-left:-440px;
	display: none;
	height: 320px;
	width: 500px;
	overflow:hidden;
	box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
	z-index: 1000;
}
.css-popup .title{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	border: 1px solid #5189b5;
	border-width: 0px 0px 1px 0px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4px;
	margin-top: 8px;
	padding: 8px 19px;
	background: #0000ff;/*#5c9cce;*/
	box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
	font-size: 16px;
	line-height: 2em;
}
.css-popup .title:first-child{
	margin-top: -4px;
}
.css-popup div{
	padding: 8px;
	padding-top; 0px;
}
.css-popup #close{
	background: #8080ff;/*#fa5858;*/
	color: #ffffff;
	line-height: 22px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 6px;
	width: 24px;
	text-decoration: none;
	font-family:arial;
	font-size:10px;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 12px;
}
.css-popup #close:hover{
	background: #0000ff;/*#39d604;#ff0000;*/
}
/*.css-popup select[name=activity]{
	appearance: none;
	border-radius: 0;
}*/
.css-popup select{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color: #000000;
	border: 2px solid #5189b5;
	/*border: 0;*/
	outline: 0;
	resize: none;
	margin: 0;
	margin-top: 4px;/*1em;*/auto
	margin-bottom: 4px;/*1em;*/
	padding: 0px;/*.5em;*/
	padding-top: 2px;
	width: 100%;
	border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
	background: #ffffff;/*#5d92ba;*/
}
.css-popup label{
	display: inline-block;
	color: #ffffff;
	margin-top: 14px;
}
.css-popup button{
	margin: 10px;
}
